@model SaveLabTestViewModel
@{
    bool editMode = Model.Id == 0 ? false : true;
    ViewData["Title"] = "Save Lab Test";
}
<section>
    <div class="container">
        <div class="columns is-centered mt-5">
            <div class="column is-7">
                <div class="box">

                        <form method="post" enctype="multipart/form-data" asp-controller="LabTest" asp-action="@(editMode ? "Edit":"Create")">

                            <div class="field">
                                <label asp-for="TestName" class="label">Test Name</label>
                                <div class="control">
                                <input asp-for="TestName" class="input" type="text"/>
                                </div>
                                <span asp-validation-for="TestName" class="text-danger"></span>
                            </div>


                            <input type="hidden" asp-for="Id" />

                            <div class="field is-grouped is-grouped-centered">
                                <p class="control">
                                    <button type="submit" class="button is-primary">
                                    Submit
                                    </button>
                                </p>
                                <p class="control">
                                    <a  asp-controller="Doctor" asp-action="Index" class="button is-light">
                                    Cancel
                                    </a>
                                </p>
                            </div

                        </form>

                </div>
            </div>
        </div>
    </div>
</section>