@inject IHttpContextAccessor httpContext;
@{
    var User = httpContext.HttpContext.Session.Get<AuthenticationResponse>("user");
    var isAdmin = User != null ? User.Roles.Any(r => r == "Admin") : false;
    var isAssistant = User != null ? User.Roles.Any(r => r == "Assistant") : false;
}
<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/bulma.css" />
    <link rel="stylesheet" href="~/css/_index.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"  />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+AT:ital,wght@0,100..400;1,100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" asp-controller="@(User != null? "Home" : "User")" asp-action="Index">
                <i class="fa-solid fa-hospital-user fa-xl" style="color: #74C0FC;"></i> 
                <span class="has-text-weight-bold is-size-6" style="font-family: Open Sans, sans-serif;">PatientNexus</span>                
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">

                <div class="navbar-start">

                    @if(User != null)
                    {
                        if(isAdmin)
                        {
                            <a class="navbar-item" asp-controller="Home" asp-action="Index">Users</a>

                            <a class="navbar-item" asp-controller="Doctor" asp-action="Index">Doctors</a>
                            
                            <a class="navbar-item" asp-controller="Home" asp-action="Index">Lab Test</a>
                       
                            <a class="navbar-item" asp-controller="Home" asp-action="Index">Patients</a>

                            <a class="navbar-item" asp-controller="Home" asp-action="Index">Test Results</a>

                            <a class="navbar-item" asp-controller="Home" asp-action="Index">Appointments</a>
                        }

                    }
                    else
                    {
                        <a class="navbar-item" asp-controller="Home" asp-action="Index">Register</a>
                    }
                </div>
               
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-light" asp-controller="User" asp-action="Index">Log Out</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </nav>

    </header>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
