@model LoginViewModel
@{
  ViewData["Title"] = "Login";
}

<section class="section is-medium">

  <div class="container">

    <div class="column is-4 is-offset-one-quarter">

      <form class="box" method="post" asp-controller="User" asp-action="Index">
        <div class="content">
        <div class="field">
          <p class="control has-icons-left has-icons-right">
            <input class="input" asp-for="UserName" type="text" placeholder="Username">
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-check"></i>
            </span>
          </p>
        </div>
        </div>

        <div class="content">
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" asp-for="Password" type="password" placeholder="Password">
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
        </div>

        <div class="content">
          <div class="has-text-centered">
            <p class="control">
              <button class="button is-success" type="submit">Login</button>
            </p>
          </div>
        </div>

          <div class="has-text-centered">
            <P style="color: #74C0FC;>
              <a asp-controller="Home" asp-action="Index">Don't have an account? Sign up now! </a>
            </P>
          </div>

      </form>
      
    </div>
  </div>

</section>